body {
    background-color: #131313;
    margin: 0;
}

.main {
    border-bottom: 1px solid #272727;
}

.header {
    width: 70%;
    margin: 0 auto;
    overflow: auto;
}

.logo, .navigation, .navigation-item, .card {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.logo {
    float: left;
    padding: 1rem 0;
    margin-right: 17px;
}

.navigation {
    float: right;
}

.navigation-item a {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 1.3rem 0.5rem;

}

.card {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    color: white;
    margin: 1.3rem 100px 1.3rem 0;
    padding-left: 12px;
    border-left: 1px solid #272727;
}

.menu {
    width: 70%;
    height: 41px;
    margin: 0 auto;
    margin-top: 90px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    color: #FFFFFF;
}

.main-box {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    width: 70%;
    height: 53px;
    margin: 0 auto;
    margin-top: 31px;
    color: #FFFFFF;
    display: grid;
    text-align: left;
    border-bottom: 1px solid #272727;
}

.main-box-head-font {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 13px;
}

.padding {
    padding-left: 25px;
}

tr {
    width: 1146px;
    height: 53px;
    border-spacing: -1px;
    /* border-bottom: 1px solid; */
}

td {
    border-bottom: 1px solid #272727;
}

.left {
    padding-left: 25px;
    border-left: 1px solid #272727;
}

.right {
    border-right: 1px solid #272727;
}

table { 
    border-collapse: collapse; 
}

.end {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
}

.footer, .footer-item {
    margin-top: 26px;
    display: inline-block;
}

.footer-item {
    padding-left: 26px;
}