html {
    width: 1920px;
    height: 1080px;
    background: #131313;
}

.main {
    width: 1157px;
    height: 746px;
    padding-left: 376px;
    padding-top: 14px;
    align-items: center;
    }

.header {
    display: flex;
}

.logo {
    width: 115px;
    height: 59px;
    margin-left: 11px;
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    display: flex;
    align-items: center;
    color: #1ACD4C;
}

.card {
    width: 214px;
    height: 59px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding-left: 12px;
    color: #FFFFFF;
}

.nav {
    width: 817px;
    height: 59px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    padding-left: 100px;
    color: #FFFFFF;
}

.opacity {
    opacity: 0.3;
}

.menu {
    width: 517px;
    height: 41px;
    margin-left: 11px;
    margin-top: 90px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    color: #FFFFFF;
}

.main-box {
    width: 1146px;
    height: 53px;
    margin-top: 31px;
    margin-left: 11px;
    color: #FFFFFF;
    display: grid;
    text-align: left;
    border-bottom: 1px solid #272727;
}

.padding {
    padding-left: 25px;
}

tr {
    width: 1146px;
    height: 53px;
    border-spacing: -1px;
    /* border-bottom: 1px solid; */
}

td {
    border-bottom: 1px solid #272727;
}

.left {
    padding-left: 25px;
    border-left: 1px solid #272727;
}

.right {
    border-right: 1px solid #272727;
}

table { 
    border-collapse: collapse; 
}

.down {
    font-size: 22px;
    font-stretch: 140px;
}